 .div1 {
	background-color:black;
	height:135px;
	opacity:0.95;
	color:#FFD700;
}

.top
{ opacity:1;
    float:left;
	margin-left:530px;
	vertical-align: text-top;
	width:180px; height:130px; 
}
p{ font-family: sans-serif;
font-size:28px;
text-decoration:underline;
font-style: normal;
font-weight: bold;}
.menu
{
margin-top:0px;
width:13px
height:22px;
color:black;
background-color:#8cff66;
opacity:0.9;

border-color:powder blue;
overflow: hidden;}
.menu:hover
{
background-color:#ffffcc;}
.menu a:hover
{background-color: #80ff80; 
color:black;}
.menu a
{color:teal;
text-decoration: none;

}
.menu a:active
{
		background-color:rgba(32,32,32,0.8);
		color:white;
}
li
{display:inline-block;
padding:0.5px 26px;
font-size:22px;
letter-spacing:1.2;}
ul
{
  list-style-type:none;
  margin:0px;
}
textarea
{  display: block; margin-left: auto;
	margin-right: auto;
	color:orange;
	background-color:();
	margin-top: 30px;
	font-size: 20px;
	font-family: terminal;
}
#b2,#b3,#b1,#b4
{ height:30px; width:100px;
 border:solid 0.5px;
 border-radius: 10px;
 margin-top: 20px;
 box-shadow: 4px 3px grey;
}
font
{
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
}
#b2
{
	background-color:#ffff66;
}
#b1
{  
	box-shadow: 4px 3px grey;
	background-color:#2ECCFA;
}
body
 {

background-color:  #a3c2c2
}